@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import '/src/assets/style/root.css';

#counter-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    color: aliceblue;
    padding: 100px 50px;
    /* padding: 100px 0; */
}
.counter-head h1{
    text-align: center;
    margin-bottom: 0;
    margin: 10px 0 0 0;
    font-size: 3rem;
    font-weight: 800;
}
.counter-head p{
    font-size: 30px;
    text-align: center;
    padding: 20px 10px;
    font-weight: 400;
    line-height: 2;
    margin: 20px 0 0;
}

/*/ start count stats /*/ 

section#counter-stats {
	display: flex;
	justify-content: center;
	/* margin-top: 100px; */
}

#stats {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#stats i {
  color: #008080;
  font-size: 100px;
}
@media screen and (max-width: 768px) {
  .counter-head h1{
    font-size: 2rem;
}
.counter-head p{
  font-size: 18px;
}
#stats {
  font-size: 20px;
}
#counter-stats {
  padding: 50px 10px;
}
}

