.contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contac_info {
    width: 50%;
}


.form_box {
    width: 50%;
    height: 100vh;
    background-image: url("../../assets/img/contact-form-bg.png");
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .form_box , .contac_info{
        width: 100%;
 
    }

  
    
  }
